@import url("style.css");

.week-of {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
}

/* Quick Action */
.quick-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 24px;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
}

.quick-action-iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 4px;
}

.quick-action-iconbox--orange {
    background: linear-gradient(249deg, rgba(245, 158, 66, 0.50) -65.7%, #E87252 223.71%);
    box-shadow: 0 2px 8px 0 rgba(232, 114, 82, 0.10);
}

.quick-action-iconbox--teal {
    background: linear-gradient(249deg, rgba(147, 155, 168, 0.50) -65.7%, #0D8F83 223.71%);
    box-shadow: 0 2px 8px 0 rgba(13, 143, 131, 0.10);
}

.quick-action-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

/* Weekly Calendar */
.calendar-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
}
.calendar-title {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-end;
  	justify-content: space-between;
}

.calendar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
}

.calendar-button--right {
  	border: 1px solid var(--secondary-200);
}

.calendar-button--left {
  	border: 1px solid var(--secondary-500);
}

.calendar-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 12px;
}

.calendar-format-day {
    color: var(--secondary-300);
}

.calendar-format-day--selected {
    color: var(--accent-coral);
}

.calendar-format-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 32px;
    color: var(--secondary-300);
}

.calendar-format-day--selected {
    color: var(--neutral-50);
    background-color: var(--accent-coral);
}

.calendar-format-day--today {
    color: var(--accent-coral);
}