@import url("style.css");
/* =========================================
   1. HOME
   ========================================= */

.week-view {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
    height: 44px;
}

.home-shortcuts-box {
    display: inline-flex; 
    align-items: center; 
    align-self: stretch; 
    flex-direction: row;
    gap: 16px;
}

.flexrow-gap8 {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Quick Action */
.quick-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 24px;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
}

.quick-action-iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 4px;
}

.quick-action-iconbox--orange {
    background: linear-gradient(249deg, rgba(245, 158, 66, 0.50) -65.7%, #E87252 223.71%);
    box-shadow: 0 2px 8px 0 rgba(232, 114, 82, 0.10);
}

.quick-action-iconbox--teal {
    background: linear-gradient(249deg, rgba(147, 155, 168, 0.50) -65.7%, #0D8F83 223.71%);
    box-shadow: 0 2px 8px 0 rgba(13, 143, 131, 0.10);
}

.quick-action-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

/* Weekly Calendar */
.week-calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background: var(--white);
}
.week-calendar-header {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-end;
  	justify-content: space-between;
}

.week-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid var(--secondary-200);
    color: var(--secondary-300);
    width: 32px;
    height: 32px;
}

.week-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 12px;
}

.day-label {
    color: var(--secondary-300);
}

.day-label--selected {
    color: var(--accent-coral);
}

.day-label--today {
    color: var(--accent-coral);
}

.day-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 32px;
    color: var(--secondary-300);
    border-radius: 8px;
}

.day-number--selected {
    color: var(--accent-coral);
}

.day-number--today {
    color: var(--neutral-50);
    background-color: var(--accent-coral);
}